SPRING_DATASOURCE_URL:jdbc:mysql://devops-db:3306/devopsapp?useSSL=false&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME:#yourusername
SPRING_DATASOURCE_PASSWORD:#yourpassword
SPRING_JPA_HIBERNATE_DDL_AUTO:update #default is update